<footer class="bg-gray-200 w-full h-fit flex items-center justify-center mt-auto">
    <div class="max-w-5xl mx-auto flex justify-between items-center px-4 py-6">
        <p class="text-zinc-500 text-xs">Copyright © <script>document.write(new Date().getFullYear())</script> Lion Drive | <a class="text-blue-600">KizzyLion</a> | All rights reserved.</p>
    </div>
</footer>