@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

html {
  box-sizing: border-box;
  background: #f5f7fa;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  max-height: 100vh !important;
  max-height: 100dvh !important;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.1 !important;
  text-wrap: balance;
}

p {
  line-height: 1.5;
}

p,
li {
  text-wrap: pretty;
  max-width: 65ch;
}
a {
  text-decoration: none;
  color: inherit;
}
